[Unit]
After=docker.service
Description=Minecraft

[Service]
ExecStart=/usr/bin/docker start -a minecraft
ExecStop=/usr/bin/docker stop -t 10 minecraft
Restart=always

[Install]
WantedBy=multi-user.target
