[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/docker start -a webirc
ExecStop=/usr/bin/docker stop webirc
Restart=always

[Unit]
After=docker.service haproxy.service
