[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/docker start -a znc
ExecStop=/usr/bin/docker stop znc
Restart=always

[Unit]
After=docker.service
