[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/docker start -a postgresql
ExecStop=/usr/bin/docker stop postgresql
Restart=always

[Unit]
After=docker.service
