[Unit]
After=docker.service haproxy-config.service
Description=Excloo

[Service]
ExecStart=/usr/bin/docker start -a excloo
ExecStop=/usr/bin/docker stop excloo
Restart=always

[Install]
WantedBy=multi-user.target
