[Unit]
Description=HAProxy Config
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker start -a haproxy-config
ExecStop=/usr/bin/docker stop -t 10 haproxy-config
Restart=always

[Install]
WantedBy=multi-user.target
