[Unit]
After=docker.service
Description=NNAX

[Service]
ExecStart=/usr/bin/docker start -a http-nnax
ExecStop=/usr/bin/docker stop -t 10 http-nnax
Restart=always

[Install]
WantedBy=multi-user.target
