[Unit]
After=docker.service
Description=Excloo

[Service]
ExecStart=/usr/bin/docker start -a http-excloo
ExecStop=/usr/bin/docker stop -t 10 http-excloo
Restart=always

[Install]
WantedBy=multi-user.target
