[Unit]
After=docker.service haproxy-config.service
Description=NNAX

[Service]
ExecStart=/usr/bin/docker start -a nnax
ExecStop=/usr/bin/docker stop nnax
Restart=always

[Install]
WantedBy=multi-user.target
