[Unit]
After=docker.service
Description=PostgreSQL

[Service]
ExecStart=/usr/bin/docker start -a postgresql
ExecStop=/usr/bin/docker stop postgresql
Restart=always

[Install]
WantedBy=multi-user.target
