[Unit]
Description=PostgreSQL
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker start -a postgresql
ExecStop=/usr/bin/docker stop -t 10 postgresql
Restart=always

[Install]
WantedBy=multi-user.target
