[Unit]
After=docker.service haproxy-config.service postgresql.service
Description=Tiny Tiny RSS

[Service]
ExecStart=/usr/bin/docker start -a tiny-tiny-rss
ExecStop=/usr/bin/docker stop tiny-tiny-rss
Restart=always

[Install]
WantedBy=multi-user.target
