[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/docker start -a minecraft
ExecStop=/usr/bin/docker stop minecraft
Restart=always

[Unit]
After=docker.service
